{% extends 'flatpages/default.html' %}

{% block title %}
Medulin apartments -
{{ flatpage.title }}
{% endblock title %}

{% block content %}
{{ user }}
    <h1> Medulin apartments</h1>
    <hr>
{{ flatpage.content }}
<p><a href="https://www.airbnb.com/rooms/764443807357966079?adults=1&amp;children=0&amp;infants=0&amp;location=Croatia&amp;pets=0&amp;check_in=2023-01-11&amp;check_out=2023-01-18&amp;federated_search_id=d35e1179-c9d4-4176-a085-4258d2bc72ba&amp;source_impression_id=p3_1673472240_hmqS2ybdzNzvsc0g">Catikulich second floor</a></p>
{% endblock content %}